<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Articles", root_path,class: 'navbar-brand' %>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link"  class="text-decoration-none" href="#"><%= link_to "Contact Us", pages_contact_path %></span>
            </li>
            <li class="nav-item">
                <span class="nav-link"  class="text-decoration-none" href="#"><%= link_to "About Us", pages_about_path %></span>
            </li>
            <li class="nav-item">
                <span class="nav-link"  class="text-decoration-none" href="#"><%= link_to "Create an Article", new_article_path %></span>
            </li>
            <% if !current_user %>
            <li class="nav-item">
                <span class="nav-link"  class="text-decoration-none" href="#"><%= link_to "Sign Up", new_user_registration_path %></span>
            </li>
            <li class="nav-item">
                <span class="nav-link"  class="text-decoration-none" href="#"><%= link_to "Sign in", new_user_session_path %></span>
            </li>
        <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.username %>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#"><%= link_to "Edit My Profile", edit_user_registration_path %></a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#"><%= link_to "Sign Out", destroy_user_session_path, method: :delete,  class: "link"%></a></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
</nav>
